*{
    font-family: 'Cairo';
    text-align: end;
}
.tapleHeader{
    background-color: #fafafa !important;
    color:#a4adc0;
    border: 1px soild #fafafa !important;
   
}

.tableContainer{
    max-width: 50%;
    margin:auto;
}