.detailsContainer{
    display:grid;
    grid-template-columns: 1fr 2fr;
    column-gap:2rem;
    width:80vmax;
    margin:auto;
}

.progressSectionContainer{
    /* border: 2px solid #fafafa; */
    border-radius: 10px ;
    width:80vmax;
    margin:auto;
    padding: 1rem;
    margin-top:2rem;
    margin-bottom: 2rem;

}

