.navContainer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:80vmax;
    margin:auto;
    padding: 1rem;
}

.listContainer{
    display:flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    font-family: 'Cairo';
    
}

.listItem{
    margin-left: 1.5rem;
    margin-right: 1rem; 
}

.listLink{
    color:black;
    text-decoration: none;
    font-size: 1.5vmax;
    display:inline-block;

}
.splitLine{
    border-left: 1px solid rgb(252, 13, 13);
    padding-top: 15px;
    padding-bottom: 10px;
    
}
.language{
    color:red;
    font-weight: bold;
}